.env
node_modules

# ----- #
*.code-workspace
extensions.json
extensions.json

front/yarn
back/.yarn/
front/.yarn/
front/.vscode/extensions.json

.pnp.*
/*.bat
tokens.*.json


front/vite.config.ts.timestamp-*.mjs

*.bk

//TODO: Make sure to commit `systemMessageContent` if I ever make it work and start using it.
**/systemMessageContent/**
